steve.xcodeproj/project.xcworkspace/xcuserdata/*
steve.xcodeproj/project.xcworkspace/xcshareddata/*
steve.xcodeproj/xcuserdata/*
steve.xcodeproj/Packages/RealityKitContent/.swiftpm/
Packages/RealityKitContent/.swiftpm/*
steve.xcodeproj/project.xcworkspace/*
Packages/RealityKitContent/Package.realitycomposerpro/WorkspaceData/*.rcuserdata
steve/Secrets.xcconfig
*.xcconfig
steve/mistral-7b-instruct-v0.2.Q4_K_M.gguf
